# Ignore node_modules directory
node_modules/

# Ignore log files
*.log
*.log.*



# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore coverage reports
coverage/
*.lcov

# Ignore compiled files
*.out
*.o

# Ignore package lock files
package-lock.json
yarn.lock


# Ignore custom folder
models/lda/
models/quantitative_measures/


00.old_code/
data/raw_data/final/
lib/
